<div class="col-lg-8">
  <div *ngIf="!publication">Loading...</div>
  <div *ngIf="publication">
<!--    para mostrar el título  Publicaciones detalle-->
    <h1 class="h1-strong">{{title}}</h1>

    <div id="publications" style="margin-bottom: 20px">
      <div class="item-publication">
        <div class="panel panel-default mb-0">
          <div class="panel-body">
            <div class="image-user pull-left">
              <img *ngIf="publication && publication.user.image"
                   src="{{ url +'get-image-user/' + publication.user.image }}"/>
              <img src="assets/user.png" class="avatar-default" *ngIf="!publication.user.image"/>
            </div>
            <!--     user's name       -->
            <div>
              <a [routerLink]="['/perfil',publication.user]" class="user-name">
                {{publication.user.name + ' ' + publication.user.surname}}
              </a>
              &nbsp; | &nbsp;
              <span class="date">
                       {{(publication.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo}}
                       </span>
            </div>

            <h4 class="publication-text pull-left">
              {{publication.text}}
            </h4>

            <!-- Mostrar las fotos-->
            <div class="col-lg-12">
              <img src="{{ url +  'get-image-pub/' + publication.file}}" class="col-lg-8"/>
              <br/>
            </div>
          </div>
        </div>

        <span *ngIf="commentButtonShowFlag">
        <!--      comment content-->
        <div class="paddingY-5" *ngIf="commentFlag"><textarea autofocus class="form-control" [(ngModel)]="comment"
                                                              rows="3"></textarea></div>
          <div *ngIf="success!=null">
            <div class="alert alert-success" role="alert" *ngIf="success==true">{{message}}</div>
            <div class="alert alert-danger" role="alert" *ngIf="success==false">{{message}}</div>
          </div>
          <!--      display comment button -->
        <div class="flex-item-end mb-20">
          <button type="button" class="btn btn-sm btn-primary" (click)="commentButtonClick()" *ngIf="!commentFlag">
            deje un comentario
          </button>
          <!--      if comment button click, then this will show save and cancel button -->
          <div *ngIf="commentFlag">
            <button type="button" style="margin-right: 10px" class="btn btn-sm btn-danger"
                    (click)="commentFlag=!commentFlag">
              cancelar
            </button>
            <button type="button" class="btn btn-sm btn-success" (click)="addComment()">
              salvar
            </button>
          </div>

        </div>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4">
  <h3>Todas comentarios</h3>

<!--  Si hago clic en el botón Actualizar, volveré a recibir comentarios.-->
  <button class="form-control mb-10" (click)="getComments()"><i class="fa fa-refresh" style="margin-right: 10px"></i>Actualizar</button>
<!--si esta publicación tiene tantos comentarios, mostraré la barra de desplazamiento.-->
  <div style="max-height: calc(100vh - 100px);height: 100%; overflow: auto; margin-bottom: 20px;" id="comment-bar">
    <div class="flex-item-center" style="height: 150px" *ngIf="commentObjects.length==0"><span style="margin:auto">No Comments</span></div>

    <span *ngIf="commentObjects.length>0">
      <div class="panel panel-default item-publication mt-10 mb-10" *ngFor="let commentObject of commentObjects">
      <!--    avatar de usuario-->
      <div class="image-user pull-left mt-10 ml-10">
        <img *ngIf="commentObject.emitter.image" src="{{ url +'get-image-user/' + commentObject.emitter.image }}"/>
        <img src="assets/user.png" class="avatar-default" *ngIf="!commentObject.emitter.image"/>
      </div>
        <!-- nombre de usuario-->
      <div class="mt-10">
        <a [routerLink]="['/perfil',commentObject.emitter]" class="user-name">
          {{commentObject.emitter.name + ' ' + commentObject.emitter.surname}}
        </a>
        &nbsp; | &nbsp;
        <span class="date">{{(commentObject.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo}}</span>
      </div>
      <!--        contenido del comentario    -->
      <div class="panel-body">
        {{commentObject.comment}}
      </div>
    </div>
    </span>

  </div>

</div>

